Repository dallay/hatchgrid, changes with the labels that .github/labeler.yml gives for each.
All labels: area:backend, area:frontend:web, area:frontend:landing, area:docs, area:ci, type:docs, type:chore

.github/labeler.yml:

# GitHub Labeler Configuration
# This file defines rules for automatically labeling PRs based on file paths

area:backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'server/**'
      - 'shared/**'

area:frontend:web:
  - changed-files:
    - any-glob-to-any-file:
      - 'client/apps/web/**'
      - 'client/packages/**'

area:frontend:landing:
  - changed-files:
    - any-glob-to-any-file:
      - 'client/apps/landing-page/**'

area:docs:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - '**/*.mdx'

area:ci:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

type:docs:
  - changed-files:
    - any-glob-to-any-file:
      - 'docs/**'
      - '**/*.md'
      - '**/*.mdx'

type:chore:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.yml'
      - '**/*.yaml'
      - '**/*.json'
      - '.editorconfig'
      - '.prettier*'
      - '.eslintrc*'

fix(auth): reset workspace state on user change and logout
  client/apps/web/src/authentication/infrastructure/store/useAuthStore.ts
Labels: area:frontend:web

fix(claims): handle user loading synchronously and improve error logging
  docs/src/content/docs/structure.md
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/authentication/infrastructure/CustomClaimConverter.kt
Labels: area:backend, area:docs, type:docs

fix(docs): update parameter names and references in documentation comments
  gradle/libs.versions.toml
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/form/infrastructure/http/CreateFormController.kt
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/newsletter/tag/infrastructure/persistence/repository/SubscriberTagReactiveR2dbcRepository.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/credential/Credential.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/email/Email.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/name/FirstName.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/name/LastName.kt
  shared/spring-boot-common/src/main/kotlin/com/hatchgrid/spring/boot/repository/ReactiveSearchRepository.kt
Labels: area:backend

chore(github): 🔥 remove auto-request reviewers workflow and reviewers configuration
  .github/reviewers.yml
  .github/workflows/auto-request-reviewers.yml
Labels: area:ci, type:chore

chore(docs): 📝 update parameter documentation for command dispatching
  docs/src/content/docs/structure.md
  shared/spring-boot-common/src/main/kotlin/com/hatchgrid/spring/boot/ApiController.kt
Labels: area:backend, area:docs, type:docs

feat(labels): add new label configurations and update labeler settings
  .github/labeler.yaml
  .github/labels.yml
  .github/workflows/labeler.yml
  .github/workflows/sync-labels.yml
Labels: area:ci, type:chore

fix(qodana): improve concurrency settings and adjust result upload conditions
  .github/workflows/qodana_code_quality.yml
Labels: area:ci, type:chore

fix(subscriber): validate first name and add unit tests for mapping
  docs/src/content/docs/structure.md
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/newsletter/subscriber/domain/exceptions/NameExceptions.kt
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/mapper/SubscriberMapper.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/mapper/SubscriberMapperTest.kt
Labels: area:backend, area:docs, type:docs

fix(database): update workspace constraints and improve index creation
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/infrastructure/persistence/entity/WorkspaceEntity.kt
  server/thryve/src/main/resources/db/changelog/migrations/002c-workspaces-default-constraint.yaml
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/authentication/application/AuthenticateUserQueryHandlerTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/authentication/infrastructure/persistence/keycloak/KeycloakAuthenticatorRepositoryIntegrationTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/authentication/infrastructure/persistence/keycloak/KeycloakLogoutRepositoryIntegrationTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/form/infrastructure/persistence/FormStoreR2dbcRepositoryTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/SubscriberR2dbcRepositoryTest.kt
Labels: area:backend, type:chore

test: enhance exception handling in workspace query tests and verify subscriber save operation
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/SubscriberR2dbcRepositoryTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/application/find/FindWorkspaceQueryHandlerTest.kt
Labels: area:backend

test: update exception assertion in AllWorkspaceByMemberQueryHandlerTest
  docs/src/content/docs/structure.md
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/application/find/member/AllWorkspaceByMemberQueryHandlerTest.kt
Labels: area:backend, area:docs, type:docs

refactor(tests): simplify test cases and update value object documentation
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/name/FirstName.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/name/LastName.kt
  shared/common/src/main/kotlin/com/hatchgrid/common/domain/vo/name/Name.kt
  shared/common/src/test/kotlin/com/hatchgrid/common/domain/bus/CommandWithResultHandlerTest.kt
  shared/common/src/test/kotlin/com/hatchgrid/common/domain/bus/PipelineBehaviorTest.kt
Labels: area:backend

fix(tests): update isDefault validation in Workspace test cases
  client/apps/web/src/workspace/domain/models/Workspace.test.ts
  docs/src/content/docs/structure.md
Labels: area:frontend:web, area:docs, type:docs

refactor: update import paths in WorkspaceStoreFactory for improved clarity
  client/apps/web/src/workspace/infrastructure/store/WorkspaceStoreFactory.ts
  client/apps/web/src/workspace/store/WorkspaceStoreFactory.ts
  client/apps/web/src/workspace/store/useWorkspaceStore.test.ts
  client/apps/web/src/workspace/store/useWorkspaceStore.ts
Labels: area:frontend:web

fix: improve user loading in CustomClaimConverter to avoid event-loop blocking
  docs/src/content/docs/structure.md
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/authentication/infrastructure/CustomClaimConverter.kt
Labels: area:backend, area:docs, type:docs

feat(workspace): ✨ enhance CreateWorkspaceCommandHandler with duplicate workspace handling and metrics
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/application/create/CreateWorkspaceCommandHandler.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/authentication/infrastructure/persistence/keycloak/KeycloakAuthenticatorRepositoryTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/users/infrastructure/persistence/keycloak/KeycloakRepositoryTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/application/create/CreateWorkspaceCommandHandlerTest.kt
Labels: area:backend

refactor(workspace): 🔧 centralize maximum workspace name length constant
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/domain/Workspace.kt
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/infrastructure/event/consumer/CreateDefaultWorkspaceOnUserCreation.kt
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/infrastructure/persistence/entity/WorkspaceEntity.kt
Labels: area:backend

fix(tests): update KeycloakRepositoryTest to use constant REALM for keycloak.realm calls
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/users/infrastructure/persistence/keycloak/KeycloakRepositoryTest.kt
Labels: area:backend

test(integration): refactor CreateDefaultWorkspaceOnUserCreationIntegrationTest for improved clarity and consistency
  docs/src/content/docs/structure.md
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/infrastructure/event/consumer/CreateDefaultWorkspaceOnUserCreationIntegrationTest.kt
Labels: area:backend, area:docs, type:docs

fix(tests): replace UUID generation with a fixed userId in CreateDefaultWorkspaceOnUserCreationIntegrationTest
  .github/labeler.yaml
  .github/workflows/sync-labels.yml
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/infrastructure/event/consumer/CreateDefaultWorkspaceOnUserCreationIntegrationTest.kt
Labels: area:backend, area:ci, type:chore

fix(subscriber): trim whitespace from firstname and lastname during mapping
  docs/src/content/docs/structure.md
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/mapper/SubscriberMapper.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/mapper/SubscriberMapperTest.kt
Labels: area:backend, area:docs, type:docs

chore(workflow): ✨ add workflow_dispatch trigger to sync labels workflow
  .github/workflows/sync-labels.yml
Labels: area:ci, type:chore

fix(converter): replace constant timeout with Duration for user info timeout
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/authentication/infrastructure/CustomClaimConverter.kt
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/mapper/SubscriberMapper.kt
Labels: area:backend

fix(metrics): add counter for ignored duplicate default workspace creations
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/application/create/CreateWorkspaceCommandHandler.kt
Labels: area:backend

fix(workspace): trim workspace name and enforce length validation
  docs/src/content/docs/structure.md
  server/thryve/src/main/kotlin/com/hatchgrid/thryve/workspace/domain/Workspace.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/domain/WorkspaceTest.kt
Labels: area:backend, area:docs, type:docs

fix(workspaces): ensure consistent default workspace selection by adding ID to ordering
  server/thryve/src/main/resources/db/changelog/migrations/002c-workspaces-default-constraint.yaml
Labels: area:backend, type:chore

fix(tests): update test structure and add verification for active subscriber search
  docs/src/content/docs/structure.md
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/newsletter/subscriber/infrastructure/persistence/SubscriberR2dbcRepositoryTest.kt
Labels: area:backend, area:docs, type:docs

fix(tests): enhance exception handling verification in workspace query tests
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/application/find/member/AllWorkspaceByMemberQueryHandlerTest.kt
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/infrastructure/event/consumer/CreateDefaultWorkspaceOnUserCreationIntegrationTest.kt
Labels: area:backend

fix(docs): update test structure in documentation for workspace query handler tests
  docs/src/content/docs/structure.md
Labels: area:docs, type:docs

Update .github/workflows/sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: area:ci, type:chore

fix(workspaces): use CONCURRENTLY option when dropping default index to avoid locking
  server/thryve/src/main/resources/db/changelog/migrations/002c-workspaces-default-constraint.yaml
Labels: area:backend, type:chore

fix(tests): clean up comments and update test structure in workspace integration tests
  docs/src/content/docs/structure.md
  server/thryve/src/test/kotlin/com/hatchgrid/thryve/workspace/infrastructure/event/consumer/CreateDefaultWorkspaceOnUserCreationIntegrationTest.kt
Labels: area:backend, area:docs, type:docs
