Repository dallay/hatchgrid, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infrastructure, documentation, ci-cd, configuration, database, security

docs(structure): regenerate project structure documentation
  docs/structure.md
Labels: documentation

chore(ci): enable parallel execution for pre-push hooks in lefthook config
  lefthook.yml
Labels: configuration

chore(ci): enable parallel execution for pre-push hooks in lefthook config
  docs/structure.md
Labels: documentation

docs(structure): regenerate project structure documentation
  docs/structure.md
Labels: documentation

docs(landing-page): add documentation for Astro app structure and Biome configuration
  biome.json
  client/apps/landing-page/biome.json
  client/apps/web/biome.json
  client/packages/utilities/biome.json
  docs/conventions/README.md
  docs/conventions/biome-configuration.md
  docs/frontend/README.md
  docs/frontend/landing-page.md
  docs/structure.md
  docs/workflows/configuration-troubleshooting.md
Labels: frontend, documentation, configuration

chore(ci): exclude integrationTest from Gradle build in lefthook config
  lefthook.yml
Labels: configuration

chore(ci): rename lefthook pre-push commands for clarity and remove redundant steps
  docs/structure.md
  lefthook.yml
Labels: documentation, configuration

docs: update architecture docs and README formatting; fix Lefthook spelling in tech stack
  .kiro/steering/tech.md
  client/apps/web/src/main.ts
  docs/frontend/README.md
  scripts/check-secrets.sh
Labels: frontend, documentation

docs: update structure.md to be more concise and relevant
  docs/structure.md
  scripts/generate-structure-docs.sh
Labels: documentation

docs: update structure docs generation, improve .gitignore, and fix minor doc issues
  .gitignore
  docs/conventions/biome-configuration.md
  docs/conventions/javascript-modules.md
  docs/structure.md
  package.json
  scripts/generate-structure-docs.sh
Labels: frontend, documentation, configuration

docs: add commit conventions guide and update related documentation
  client/apps/web/src/i18n/translation.service.ts
  client/apps/web/src/main.ts
  client/apps/web/src/services/initialization.service.ts
  commitlint.config.mjs
  docs/conventions/README.md
  docs/conventions/commit-conventions.md
  docs/frontend/landing-page.md
  docs/structure.md
  docs/workflows/git-hooks.md
Labels: frontend, documentation

ci: update gitleaks installation check to skip version validation
  scripts/check-secrets.sh
Labels: none

Update .gitignore
  .gitignore
Labels: none

.github/labeler.yml:

# Pull Request Labeler Configuration
# Automatically labels PRs based on file paths

# Backend related changes
backend:
- changed-files:
  - any-glob-to-any-file:
    - 'server/**/*'
    - 'shared/**/*'
    - 'build.gradle.kts'
    - 'settings.gradle.kts'
    - 'gradle/**/*'
    - '.github/workflows/backend-ci.yml'
    - '.github/actions/setup/java/**/*'

# Frontend related changes
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'client/**/*'
    - 'package.json'
    - 'pnpm-lock.yaml'
    - 'pnpm-workspace.yaml'
    - '.github/workflows/frontend-ci.yml'
    - '.github/actions/setup/node/**/*'

# Infrastructure related changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**/*'
    - 'compose.yaml'
    - '.github/workflows/deploy.yml'

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'

# CI/CD workflow changes
ci-cd:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**/*'

# Configuration changes
configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'config/**/*'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.json'
    - '**/*.toml'

# Database related changes
database:
- changed-files:
  - any-glob-to-any-file:
    - '**/db/**/*'
    - '**/*Repository*'
    - '**/*Entity*'

# Security related changes
security:
- changed-files:
  - any-glob-to-any-file:
    - '**/security/**/*'
    - '**/auth/**/*'
    - '**/keycloak/**/*'

# Dependency updates
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'gradle/libs.versions.toml'
    - 'package.json'
    - 'pnpm-lock.yaml'
- head-branch:
    - '^deps'
    - 'renovate'
    - 'dependabot'

# Feature branches
feature:
- head-branch:
    - '^feature'
    - 'feature'

# Bugfix branches
bugfix:
- head-branch:
    - '^fix'
    - 'bugfix'
    - 'hotfix'

# Release branches
release:
- head-branch: 'release'
- base-branch: 'main'
