Repository dallay/hatchgrid, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infrastructure, documentation, ci-cd, configuration, database, security

chore(docker): 🛠️ update Dockerfile creation process and extract first tag for image reference
  .github/actions/docker/frontend-landing/action.yml
Labels: configuration

chore(ci): update pnpm version to 10.13.1 across workflows and documentation
  .github/actions/docker/frontend-landing/action.yml
  .github/actions/setup/node/action.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/monorepo-ci.yml
  .github/workflows/test-pnpm.yml
  client/apps/landing-page/Dockerfile
  client/apps/web/Dockerfile
  docs/workflows/custom-actions.md
  docs/workflows/github-actions-workflows.md
Labels: frontend, infrastructure, documentation, ci-cd, configuration

chore(ci): update pnpm version to 10.13.1 across workflows and documentation
  .github/actions/setup/node/action.yml
  .github/workflows/test-pnpm.yml
Labels: frontend, ci-cd, configuration

chore(ci): add pnpm cache restore step and pin actions/cache to v4 commit hash
  .github/workflows/frontend-ci.yml
  .github/workflows/test-pnpm.yml
  docs/workflows/configuration-troubleshooting.md
Labels: frontend, documentation, ci-cd, configuration

docs(readme): clarify default behavior for deliver input in CI instructions
  .github/actions/docker/backend/README.md
Labels: documentation

chore(ci): record and log Docker build duration and image details in workflow
  .github/actions/docker/frontend-web/action.yml
  docs/workflows/github-actions-workflows.md
Labels: documentation, configuration

chore(docker): switch healthcheck to curl, externalize nginx config, and install curl in image
  client/apps/landing-page/Dockerfile
  client/apps/landing-page/nginx.conf
  client/apps/web/Dockerfile
Labels: frontend

chore(ci): improve Docker build args formatting and enhance Dockerfile generation in action
  .github/actions/docker/frontend-landing/action.yml
  .github/actions/docker/frontend-web/action.yml
Labels: configuration

chore(ci): add corepack support, improve pnpm caching, and enhance install step in action
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): pin actions/checkout to specific commit hash across workflows and docs
  .github/actions/docker/backend/example-workflow.yml
  .github/workflows/backend-ci.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  client/apps/landing-page/src/data/blog/en/2025/07/04/essential-tools-for-solo-developers.mdx
  docs/workflows/configuration-troubleshooting.md
Labels: backend, frontend, infrastructure, documentation, ci-cd, configuration

chore(ci): remove explicit pnpm version and cache steps from workflows and docs
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/monorepo-ci.yml
  .github/workflows/test-pnpm.yml
  .kiro/specs/docker-pipeline-restructure/design.md
  docs/workflows/custom-actions.md
Labels: frontend, infrastructure, documentation, ci-cd, configuration

chore(ci): update action.yml to improve corepack and pnpm setup, unify quoting style
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): add emoji to Node.js and pnpm setup step in frontend workflow
  .github/workflows/frontend-ci.yml
Labels: frontend, ci-cd, configuration

chore(ci): update pnpm/action-setup to v4 in action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

Revert "chore(ci): update pnpm/action-setup to v4 in action.yml"
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): specify group for nginx user in Dockerfile and action.yml
  .github/actions/docker/frontend-landing/action.yml
  .github/actions/setup/node/action.yml
  client/apps/landing-page/Dockerfile
  client/apps/web/Dockerfile
Labels: frontend, configuration

chore(nginx): add caching headers for static assets in nginx.conf
  client/apps/landing-page/nginx.conf
Labels: frontend

docs: update heading style in configuration-troubleshooting.md
  docs/workflows/configuration-troubleshooting.md
Labels: documentation

docs: update workflow_dispatch and cache cleanup examples in github-actions-workflows.md
  docs/workflows/github-actions-workflows.md
Labels: documentation

chore(ci): fix pnpm store prune command in action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): update actions/checkout comments for consistency and add pipefail to cache cleanup
  .github/actions/docker/backend/example-workflow.yml
  .github/workflows/backend-ci.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/monorepo-ci.yml
  .github/workflows/test-pnpm.yml
  client/apps/landing-page/src/data/blog/en/2025/07/04/essential-tools-for-solo-developers.mdx
  docs/workflows/configuration-troubleshooting.md
Labels: backend, frontend, infrastructure, documentation, ci-cd, configuration

chore(ci): set enable-corepack default to true in action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): remove enable-corepack input and related logic from action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): uncomment pnpm version in action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): update pnpm setup step and enhance installation verification in action.yml
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(nginx): enable gzip_vary and gzip_proxied for improved compression handling
  client/apps/landing-page/nginx.conf
Labels: frontend

chore(nginx): add immutable directive to Cache-Control header for static assets
  client/apps/landing-page/nginx.conf
Labels: frontend

chore(ci): set ownership for static files in Dockerfile, add permissions to example workflow, remove pnpm cache step
  .github/actions/docker/backend/example-workflow.yml
  .github/workflows/monorepo-ci.yml
  client/apps/web/Dockerfile
Labels: frontend, ci-cd, configuration

chore(docker): combine curl installation and directory setup into single RUN layer
  client/apps/web/Dockerfile
Labels: frontend

chore(ci): add commitlint config, update lefthook hooks, and upgrade dev dependencies
  client/apps/landing-page/docs/structure.md
  client/apps/web/package.json
  client/apps/web/src/account/login/login.spec.ts
  commitlint.config.mjs
  docs/shared-modules.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: frontend, documentation, configuration

chore(ci): add structure docs generation step to lefthook pre-commit
  lefthook.yml
Labels: configuration

chore(ci): update lefthook config for improved structure docs and command style
  docs/structure.md
  lefthook.yml
Labels: documentation, configuration

chore(ci): add secret scanning and structure docs scripts, update lefthook config for new checks
  .gitleaks.toml
  docs/structure.md
  lefthook.yml
  scripts/check-secrets.sh
  scripts/generate-structure-docs.sh
Labels: documentation, configuration

ci: optimized the pre-push hooks
  README.md
  docs/workflows/README.md
  docs/workflows/git-hooks.md
  lefthook.yml
Labels: documentation, configuration

chore(ci): improve structure docs script, update lint scripts, and clean up dependencies
  client/apps/landing-page/package.json
  client/apps/web/package.json
  client/config/package.json
  client/packages/utilities/package.json
  docs/structure.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-structure-docs.sh
Labels: frontend, documentation, configuration

chore(ci): use npx for lefthook install in prepare script
  package.json
Labels: frontend, configuration

Update package.json
  package.json
Labels: frontend, configuration

Update package.json
  package.json
Labels: frontend, configuration

chore(deps): 🔄 update dependencies and scripts across packages
  .github/actions/docker/backend/example-workflow.yml
  README.md
Labels: documentation, configuration

docs(ci-cd): update git hooks, module conventions, and scripts for improved DX
  .github/workflows/monorepo-ci.yml
  .gitignore
  .kiro/settings/mcp.json
  .kiro/steering/tech.md
  README.md
  client/apps/landing-page/package.json
  client/apps/web/package.json
  client/apps/web/src/i18n/__tests__/translation.service.spec.ts
  client/apps/web/src/i18n/translation.service.ts
  client/apps/web/src/main.ts
  client/apps/web/src/services/initialization.service.ts
  docs/conventions/README.md
  docs/conventions/javascript-modules.md
  docs/frontend/README.md
  docs/structure.md
  docs/workflows/README.md
  docs/workflows/git-hooks-parallel-update.md
  docs/workflows/git-hooks-update.md
  docs/workflows/git-hooks.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/check-secrets.sh
  scripts/docs/structure.md
  scripts/generate-structure-docs.sh
Labels: frontend, documentation, ci-cd, configuration

.github/labeler.yml:

# Pull Request Labeler Configuration
# Automatically labels PRs based on file paths

# Backend related changes
backend:
- changed-files:
  - any-glob-to-any-file:
    - 'server/**/*'
    - 'shared/**/*'
    - 'build.gradle.kts'
    - 'settings.gradle.kts'
    - 'gradle/**/*'
    - '.github/workflows/backend-ci.yml'
    - '.github/actions/setup/java/**/*'

# Frontend related changes
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'client/**/*'
    - 'package.json'
    - 'pnpm-lock.yaml'
    - 'pnpm-workspace.yaml'
    - '.github/workflows/frontend-ci.yml'
    - '.github/actions/setup/node/**/*'

# Infrastructure related changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**/*'
    - 'compose.yaml'
    - '.github/workflows/deploy.yml'

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'

# CI/CD workflow changes
ci-cd:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**/*'

# Configuration changes
configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'config/**/*'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.json'
    - '**/*.toml'

# Database related changes
database:
- changed-files:
  - any-glob-to-any-file:
    - '**/db/**/*'
    - '**/*Repository*'
    - '**/*Entity*'

# Security related changes
security:
- changed-files:
  - any-glob-to-any-file:
    - '**/security/**/*'
    - '**/auth/**/*'
    - '**/keycloak/**/*'

# Dependency updates
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'gradle/libs.versions.toml'
    - 'package.json'
    - 'pnpm-lock.yaml'
- head-branch:
    - '^deps'
    - 'renovate'
    - 'dependabot'

# Feature branches
feature:
- head-branch:
    - '^feature'
    - 'feature'

# Bugfix branches
bugfix:
- head-branch:
    - '^fix'
    - 'bugfix'
    - 'hotfix'

# Release branches
release:
- head-branch: 'release'
- base-branch: 'main'
