Repository dallay/hatchgrid, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, infrastructure, documentation, ci-cd, configuration, database, security

Update README.md
  README.md
Labels: documentation

feat: register component
  client/apps/web/src/account/login/login.vue
  client/apps/web/src/account/register/register.spec.ts
  client/apps/web/src/i18n/en/login.json
  client/apps/web/src/i18n/es/login.json
  client/apps/web/src/services/initialization.service.ts
Labels: frontend, configuration

Delete server/thryve/src/main/java/com/thryve/web/rest/AccountResource.java
  server/thryve/src/main/java/com/thryve/web/rest/AccountResource.java
Labels: backend

Delete server/thryve/src/main/java/com/thryve/service/dto/UserDTO.java
  server/thryve/src/main/java/com/thryve/service/dto/UserDTO.java
Labels: backend

feat: register component ...
  client/apps/web/src/account/login/login.vue
  client/apps/web/src/account/register/register.vue
  client/apps/web/src/env.d.ts
  client/apps/web/src/i18n/__tests__/translation.service.spec.ts
  client/apps/web/src/i18n/translation.service.ts
  client/apps/web/src/main.ts
  client/apps/web/src/services/initialization.service.ts
  client/apps/web/src/stores/auth.ts
Labels: frontend

chore: fix a lot of issues
  client/apps/web/package.json
  client/apps/web/src/account/login/login.vue
  client/apps/web/src/account/register/register.vue
  client/apps/web/src/i18n/en/register.json
  client/apps/web/src/i18n/es/register.json
  client/apps/web/src/stores/auth.ts
  pnpm-lock.yaml
Labels: frontend, configuration

feat(i18n): ✨ add validation messages for login form in English and Spanish
  client/apps/web/src/i18n/en/login.json
  client/apps/web/src/i18n/es/login.json
Labels: frontend, configuration

refactor(i18n): 🔧 simplify i18n mock and service initialization
  client/apps/web/src/i18n/__tests__/translation.service.spec.ts
  client/apps/web/src/i18n/translation.service.ts
  client/apps/web/src/main.ts
  client/apps/web/src/services/initialization.service.ts
Labels: frontend

docs: 📝 add documentation and examples for specialized Docker composition actions and CI/CD migration
  .github/actions/docker/README.md
  .github/actions/docker/action.yml
  .github/actions/docker/backend/README.md
  .github/actions/docker/backend/action.yml
  .github/actions/docker/backend/example-workflow.yml
  .github/actions/docker/frontend-landing/action.yml
  .github/actions/docker/frontend-web/action.yml
  .github/actions/docker/security-scan/README.md
  .github/actions/docker/security-scan/action.yml
  .github/workflows/deploy.yml
  .kiro/specs/docker-pipeline-restructure/design.md
  .kiro/specs/docker-pipeline-restructure/requirements.md
  .kiro/specs/docker-pipeline-restructure/tasks.md
  README.md
  client/apps/landing-page/Dockerfile
  client/apps/web/Dockerfile
  client/apps/web/nginx.conf
  docs/tasks.md
  docs/workflows/README.md
  docs/workflows/custom-actions.md
  docs/workflows/docker-actions-migration-guide.md
  docs/workflows/docker-actions.md
  docs/workflows/docker-composition-actions.md
  docs/workflows/github-actions-workflows.md
Labels: frontend, infrastructure, documentation, ci-cd, configuration

ci: add configurable Node.js and pnpm versions to setup action and workflows
  .github/actions/setup/node/action.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/monorepo-ci.yml
Labels: frontend, ci-cd, configuration

ci: make Java version and distribution configurable in setup action and workflows
  .github/actions/setup/java/action.yml
  .github/workflows/backend-ci.yml
  .github/workflows/monorepo-ci.yml
Labels: backend, ci-cd, configuration

docs: update backend Docker action docs and set deliver default to false
  .github/actions/docker/backend/README.md
  .github/actions/docker/backend/action.yml
Labels: documentation, configuration

chore: update nginx security headers and improve static asset caching
  client/apps/web/nginx.conf
Labels: frontend

docs: improve README formatting for key features and documentation sections
  .github/actions/docker/README.md
  .github/actions/docker/security-scan/README.md
Labels: documentation

chore: run nginx as non-root user and ensure required directories with permissions
  .github/workflows/monorepo-ci.yml
  client/apps/web/Dockerfile
Labels: frontend, ci-cd, configuration

chore: refactor nginx config generation in Dockerfile using heredoc for clarity
  client/apps/landing-page/Dockerfile
Labels: frontend

chore: create required nginx directories with permissions and switch to non-root user in Dockerfile
  client/apps/landing-page/Dockerfile
Labels: frontend

docs: improve CI/CD documentation formatting and clarify Docker action usage
  .github/actions/docker/backend/action.yml
  .github/actions/docker/frontend-web/action.yml
  docs/workflows/ci-guide.md
  docs/workflows/docker-actions-migration-guide.md
  docs/workflows/docker-actions.md
  docs/workflows/docker-composition-actions.md
  docs/workflows/github-actions-workflows.md
Labels: documentation, configuration

ci: add module-path and java-version inputs to action and update Docker image scan reference
  .github/actions/docker/backend/action.yml
  .github/actions/docker/frontend-landing/action.yml
Labels: configuration

Update .github/ISSUE_TEMPLATE/frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/backend_task.md
  .github/ISSUE_TEMPLATE/backend_task.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/full_feature_request.md
  .github/ISSUE_TEMPLATE/full_feature_request.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

Update frontend_view.md
  .github/ISSUE_TEMPLATE/frontend_view.md
Labels: documentation

docs: add collapsible section for documentation links in README
  docs/workflows/README.md
Labels: documentation

ci: add image-tags output to action metadata
  .github/actions/docker/backend/action.yml
Labels: configuration

ci: pin all GitHub Actions to specific commit hashes for improved security
  .github/actions/docker/backend/action.yml
  .github/actions/docker/frontend-landing/action.yml
  .github/actions/docker/frontend-web/action.yml
  .github/actions/docker/security-scan/action.yml
  .github/actions/setup/java/action.yml
  .github/actions/setup/node/action.yml
  .github/workflows/deploy.yml
  .github/workflows/monorepo-ci.yml
  .github/workflows/semantic-pull-request.yml
  .github/workflows/test-pnpm.yml
  docs/pinning-github-actions-for-security.md
Labels: backend, frontend, infrastructure, documentation, ci-cd, configuration

docs: clarify default behavior of deliver input in README
  .github/actions/docker/backend/README.md
Labels: documentation

ci: update action to use expressions for all conditional and input references
  .github/actions/docker/backend/action.yml
Labels: configuration

ci: update pnpm/action-setup to v4.1.0 and pin to latest commit hash
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

Update login.spec.ts
  client/apps/web/src/account/login/login.spec.ts
Labels: frontend

chore(ci): update pnpm/action-setup to latest v4.1.0 commit
  .github/actions/setup/node/action.yml
Labels: frontend, configuration

chore(ci): use environment variables for Node.js and pnpm versions in frontend workflow
  .github/workflows/frontend-ci.yml
Labels: frontend, ci-cd, configuration

chore(ci): remove hardcoded Java version and distribution from backend workflow
  .github/workflows/backend-ci.yml
Labels: backend, ci-cd, configuration

docs(ci): update workflows documentation to English and clarify Dockerfile permissions
  client/apps/web/Dockerfile
  docs/workflows/github-actions-workflows.md
Labels: frontend, documentation

chore(docker): set ownership of copied build files to nginx user in Dockerfile
  client/apps/landing-page/Dockerfile
Labels: frontend

chore(ci): extract first Docker tag for security scan image reference
  .github/actions/docker/frontend-web/action.yml
Labels: configuration

.github/labeler.yml:

# Pull Request Labeler Configuration
# Automatically labels PRs based on file paths

# Backend related changes
backend:
- changed-files:
  - any-glob-to-any-file:
    - 'server/**/*'
    - 'shared/**/*'
    - 'build.gradle.kts'
    - 'settings.gradle.kts'
    - 'gradle/**/*'
    - '.github/workflows/backend-ci.yml'
    - '.github/actions/setup/java/**/*'

# Frontend related changes
frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'client/**/*'
    - 'package.json'
    - 'pnpm-lock.yaml'
    - 'pnpm-workspace.yaml'
    - '.github/workflows/frontend-ci.yml'
    - '.github/actions/setup/node/**/*'

# Infrastructure related changes
infrastructure:
- changed-files:
  - any-glob-to-any-file:
    - 'infra/**/*'
    - 'compose.yaml'
    - '.github/workflows/deploy.yml'

# Documentation changes
documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**/*'

# CI/CD workflow changes
ci-cd:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**/*'

# Configuration changes
configuration:
- changed-files:
  - any-glob-to-any-file:
    - 'config/**/*'
    - '**/*.yml'
    - '**/*.yaml'
    - '**/*.json'
    - '**/*.toml'

# Database related changes
database:
- changed-files:
  - any-glob-to-any-file:
    - '**/db/**/*'
    - '**/*Repository*'
    - '**/*Entity*'

# Security related changes
security:
- changed-files:
  - any-glob-to-any-file:
    - '**/security/**/*'
    - '**/auth/**/*'
    - '**/keycloak/**/*'

# Dependency updates
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - 'gradle/libs.versions.toml'
    - 'package.json'
    - 'pnpm-lock.yaml'
- head-branch:
    - '^deps'
    - 'renovate'
    - 'dependabot'

# Feature branches
feature:
- head-branch:
    - '^feature'
    - 'feature'

# Bugfix branches
bugfix:
- head-branch:
    - '^fix'
    - 'bugfix'
    - 'hotfix'

# Release branches
release:
- head-branch: 'release'
- base-branch: 'main'
